/* Colors */
$color-main: #158078;
$color-main-hover: #0d544f;
$color-main-hover-opacity: rgba(21, 128, 120, 0.5);

$color-danger: #dc3545;
$color-danger-hover: #bb2d3b;
$color-danger-hover-opacity: rgba(220, 53, 69, 0.5);

$color-light: #f8f9fa;
$color-light-hover: #f9fafb;
$color-light-hover-opacity: rgba(211, 215, 213, 0.5);

/* Borders */
$radius: 0.3rem;
